Repository pnp/pnpframework, pull requests merged in 2021-05, with the labels that each got.

#296 Fix IEnumerable.Union() result being discarded in ContentByQuerySearchTransformator
  src/lib/PnP.Framework/Modernization/Transform/ContentByQuerySearchTransformator.cs
Labels: area: page transformation 🦾

#297 Fix conversion between PnPCore enum values and PnP.Framework enums
  src/lib/PnP.Framework/Provisioning/ObjectHandlers/Utilities/ClientSidePageContentsHelper.cs
Labels: area: page transformation 🦾, area: provisioning ⚙

#298 Fix list id token issue when title null
  src/lib/PnP.Framework/Provisioning/ObjectHandlers/TokenParser.cs
Labels: area: provisioning ⚙

#299 Fix tokenize url in new document template
  src/lib/PnP.Framework/Provisioning/ObjectHandlers/ObjectHandlerBase.cs
Labels: area: provisioning ⚙

#301 Explicit Catch of System.IO.IOException in ExecuteQueryImplementation…
  src/lib/PnP.Framework/Extensions/ClientContextExtensions.cs
Labels: area: other 🎁
